html,body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body
{
   display: flex;
   justify-content: center; 
   align-items: center;
   height: 100%;
   width: 100%;
}

.image
{
    width: 50vw;
    height: 60vw;
}

.login-con
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    width: 50vw;
    height: 50vw;
}
.login-box
{
    background-color: #ffffff;
    width: 600px;
    height: 650px;
    border-radius: 10px;
    outline: 1px #bababa;
    outline-style:groove;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.login-text
{
    display: flex;
    justify-content: left;
    color: black;
    margin: 15px;
    font-family: "metropolis", Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
}
.new-regi-con
{
    display: flex;
    margin-top: -25px;
    margin-left: 15px;
    gap: 5px;
}
.New
{
    font-family: "metropolis", Arial, Helvetica, sans-serif;
    
    font-size: 20px;
}
.reg
{
    font-size: 20px;
    font-family: "metropolis", Arial, Helvetica, sans-serif;
}
.Email, .Password
{
    margin: 15px;
    font-size: 20px;
    font-family: "metropolis", Arial, Helvetica, sans-serif;
}
.TextBoxEmail-con, .Password-box-con
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}
.TextBoxEmail, .TextBoxPass
{
    border: 3px solid black;
    margin: 15px;
    font-family: "metropolis", Arial, Helvetica, sans-serif;
    border-radius: 25px;
    width: 95%;
    height: 43px;
    padding-left: 20px;
    font-size: 17px;
    border-width: 1px;
    transition: all 0.3s ease;
}
.TextBoxEmail::placeholder, .TextBoxPass::placeholder
{
    font-size: 15px;
    padding: 5px;
    text-align: left;
    font-family: "metropolis", Arial, Helvetica, sans-serif;

}

.TextBoxEmail:focus, .TextBoxPass:focus
{
    border-width: 1.5px;
    outline: none;
    box-shadow: 2px 2px 7px rgb(41, 41, 41);
    border-color: rgb(41, 41, 41); 
}
.reg
{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}



.logButton-con
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
}
.login-button
{
   
    width: 200%;
    height: 50px;
    border-radius: 25px;
    border-width: 1px;
    border-color: rgb(203, 203, 203);
    font-size: 20px;
    transition: all 0.3s ease;
}
.login-button:hover
{
    background-color: #333333;
    color:#f1f1f1;
    cursor: pointer;
}

.terms-and-conditions
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    gap: 5px;
}
.terms2
{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}


.login-google-con
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 10px;
    
}
.login-google
{
    background-color: #333333;
    height: 70px;
    width: 50%;
    cursor: pointer;
    border-radius: 15px;
}


.forgotPass-con
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 10px;
}
.forgotPass
{
    font-size: 20px;
    font-family: "metropolis", Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.line-or-line
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 10px;
    gap: 10px;
}
.line
{
    flex: 1px;
    height: 2px;
    background-color: #cacaca;
}

.or
{
    font-family: "metropolis", Arial, Helvetica, sans-serif;
}


