html,body
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body
{
   display: flex;
   justify-content: center; 
   align-items: center;
   height: 100%;
   width: 100%;
}

.image
{
    width: 50vw;
    height: 60vw;
}

.login-con
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    width: 50vw;
    height: 50vw;
}
.login-box
{
    background-color: #ffffff;
    width: 600px;
    height: 500px;
    border-radius: 10px;
    outline: 1px #bababa;
    outline-style:groove;
    
    

}
.login-text
{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 30px;
}